<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="irAPopupCancel($event)">
                <ion-icon slot="start" name="chevron-back"></ion-icon>
                {{subjectCustomer && subjectCustomer.customerId ? 'Editar contacto' : 'Contacto nuevo'}}
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="addSubjectCustomer($event)"
                        [disabled]="!customer || !customer.code || !customer.firstname || !customer.surname || !customer.description
                        || !customer.email">
                <ion-icon slot="end" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
    <ion-list>    
        <ion-item>
            <ion-icon name="card-outline" color="medium" class="p-mr-2"></ion-icon>
            <ion-input type="number" placeholder="C.I/RUC" 
                       (ionBlur)="searchSubjectPorCode($event)"
                       [disabled]="customer && customer.id">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="person-outline" color="medium" class="p-mr-2"></ion-icon>
            <ion-input type="text" placeholder="Nombres" 
                       [(ngModel)]="customer.firstname" [ngModelOptions]="{standalone: true}"
                       [disabled]="customer && customer.id">
            </ion-input>
        </ion-item>
        <ion-item *ngIf="customer.firstname">
            <ion-icon name="none-outline" color="medium" class="p-mr-2"></ion-icon>
            <ion-input type="text" placeholder="Apellidos" 
                       [(ngModel)]="customer.surname" [ngModelOptions]="{standalone: true}"
                       [disabled]="customer && customer.id">
            </ion-input>
        </ion-item>
         <ion-item>
            <ion-icon name="mail-open-outline" color="medium" class="p-mr-2"></ion-icon>
            <ion-input type="email" placeholder="Correo electrónico" 
                       [(ngModel)]="customer.email" [ngModelOptions]="{standalone: true}"
                       [disabled]="customer && customer.id">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-icon id="notificacion-icon" name="locate-outline" color="medium" class="p-mr-2" ></ion-icon>
            <ion-textarea placeholder="Dirección" rows="2" 
                          [(ngModel)]="customer.description" [ngModelOptions]="{standalone: true}">
            </ion-textarea>
        </ion-item>
        <ion-item *ngFor="let item of movilListSelect let i = index">
            <ion-select interface="popover" [value]="item.value"
                        mode="ios" style="width: 5rem; color:#53588e">
                <ion-select-option *ngFor="let item of movilList" value="{{item.value}}"
                                   [disabled]="onSelectOption(item)">
                    {{item.name}} 
                </ion-select-option>
            </ion-select>
            <ion-input type="number" 
                       [placeholder]="
                       (item.value == 'movil' && customer.mobileNumber) ? customer.mobileNumber :
                       (item.value == 'work' && customer.workPhoneNumber) ? customer.workPhoneNumber :
                       'Número de teléfono'" 
                       (ionBlur)="onMovilInput($event, item)"
                       [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-button color="tertiary" fill="clear"
                        (click)="onAddMovil($event)" 
                        *ngIf="i == (movilListSelect.length -1) && (movilListSelect.length < movilList.length)">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>