.ion-slide-center {
    position: absolute !important;
    top: 0px !important;
    flex-direction: column;
}

.ion-height-100 {
    height: 100%;
}

.ion-height-50 {
    height: 50%;
}

.img-logo {
    width: 48px;
}