<ion-content [fullscreen]="true" class="ion-padding" color="light"
             *ngIf="valido">
    <ion-list>
        <ion-list-header>
            <ion-toolbar>
                <ion-title>Enviadas</ion-title>
                <ion-buttons collapse="true" slot="secondary">
                    <ion-button fill="solid" shape="round" color="danger" expand="full" 
                                (click)="irAPopupFactura($event, null);"
                                *ngIf="tieneFacturas">
                        <ion-icon slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
            <ion-toolbar>
                <ion-searchbar [(ngModel)]="keyword"
                               (ionInput)="onFilterItems($event)"
                               (ionClear)="onFilterItems($event)"
                               (ionCancel)="onFilterItems($event)"
                               placeholder="Buscar facturas enviadas..." 
                               autocomplete="on"
                               *ngIf="tieneFacturas">
                </ion-searchbar>
            </ion-toolbar>
        </ion-list-header>
        <p-messages [(value)]="msgs"></p-messages>
        <!--        <ion-item *ngFor="let item of facturasFiltrados"
                          (click)="presentarOpcionesActionSheet($event, item)">
                    <ion-card>
                        <div style="width: 100%; align-content: flex-end">
                        <ion-badge color="ligth" class="p-mr-1" style="width: 30%">{{ item.fechaEmision }}</ion-badge>
                        <ion-badge color="medium" style="width: 50%">{{ item.secuencial }}</ion-badge>
                        <ion-label color="dark" style="white-space: pre-line;">{{ item.customerFullName }}</ion-label>
                        <ion-note style="display: flex; text-align: end">
                            {{ item.resumen }} 
                            <ion-badge color="light">${{ item.importeTotal.toFixed(2) }} </ion-badge>
                        </ion-note>
                        </div>
                    </ion-card>
                </ion-item>-->
        <ion-item-group *ngFor="let item of facturasFiltrados">
            <ion-card>
                <ion-item button (click)="presentarOpcionesActionSheet($event, item)">
                    <div style="width: 100%; align-content: flex-end">
                        <ion-badge color="ligth" class="p-mr-1">{{ item.fechaEmision }}</ion-badge>
                        <ion-badge color="medium">{{ item.secuencial }}</ion-badge>
                        <ion-label color="dark" style="white-space: pre-line;">{{ item.customerFullName }}</ion-label>
                        <ion-note style="display: flex; text-align: end">
                            {{ item.resumen }} 
                            <ion-badge color="light">${{ item.importeTotal.toFixed(2) }} </ion-badge>
                        </ion-note>
                    </div>
                </ion-item>
            </ion-card>
        </ion-item-group>
        <ion-card class="box" *ngIf="facturasExistencia && (!facturasFiltrados || !facturasFiltrados.length)">
            {{'No se encontraron resultados..'}}
        </ion-card>
        <ion-card class="box-stretched" *ngIf="!tieneFacturas">
            <ion-button color="danger" expand="block" 
                        (click)="irAPopupFactura($event, null);">
                <ion-icon slot="start" name="add"></ion-icon>
                Nueva factura FAZil
            </ion-button>
        </ion-card>
    </ion-list>
    <ion-list>
        <ion-list-header style="flex-direction: column;">
            <ion-title color="medium" style="align-self: start;">
                Recibidas
            </ion-title>
            <ion-searchbar [(ngModel)]="keywordReceived"
                           (ionInput)="onFilterItemsReceived($event)"
                           (ionClear)="onFilterItemsReceived($event)"
                           (ionCancel)="onFilterItemsReceived($event)"
                           placeholder="Buscar facturas recibidas..." 
                           [animated]="true" autocomplete="on">
            </ion-searchbar>
        </ion-list-header>
        <ion-item-group *ngFor="let item of facturasRecibidasFiltrados">
            <ion-card>
                <ion-item>
                    <div style="width: 100%; align-content: flex-end">
                        <ion-badge color="ligth" class="p-mr-1">{{ item.fechaEmision }}</ion-badge>
                        <ion-badge color="medium">{{ item.secuencial }}</ion-badge>
                        <ion-label color="dark" style="white-space: pre-line;">{{ item.subjectFullName }}</ion-label>
                        <ion-note style="display: flex; text-align: end">
                            {{ item.resumen }} 
                            <ion-badge color="light">${{ item.importeTotal.toFixed(2) }} </ion-badge>
                        </ion-note>
                    </div>
                </ion-item>
            </ion-card>
        </ion-item-group>
        <ion-card class="box" *ngIf="facturasRecibidasExistencia && (!facturasRecibidasFiltrados || !facturasRecibidasFiltrados.length)">
            {{'No se encontraron resultados..'}}
        </ion-card>
        <ion-card class="box" *ngIf="!facturasRecibidasExistencia">
            {{'No hay facturas recibidas.'}}
        </ion-card>
    </ion-list>
</ion-content>