<ion-content [fullscreen]="false" color="light"
             *ngIf="valido">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-list>
            <ion-list-header>
                <ion-toolbar>
                    <ion-title color="dark">Autorizadas</ion-title>
                    <ion-buttons collapse="true" slot="end">
                        <ion-button id="notification-button" fill="clear" color="dark"
                                    (click)="irAPopupFacturasInvalidas($event);"
                                    *ngIf="!tieneFacturasInvalidas">
                            <ion-icon name="bug" size="medium"></ion-icon>
                            <ion-badge id="notifications-badge" color="warning">{{internalStatusInvoiceCountTotal}}</ion-badge>
                        </ion-button>
                        <ion-button id="notification-button" fill="clear" color="dark" shape="round"
                                    (click)="viewTotals($event);"
                                    [disabled]="!tieneFacturas">
                            <ion-icon name="logo-usd" size="medium"></ion-icon>
                            <ion-note *ngIf="!enabledTotals" id="notification-note" color="danger">/</ion-note>
                        </ion-button>
                        <ion-button id="notification-button" fill="solid" color="danger" shape="round"
                                    (click)="irAPopupFactura($event, null);"
                                    *ngIf="tieneFacturas">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
                <ion-toolbar>
                    <ion-searchbar [(ngModel)]="keyword"
                                   (ionInput)="onFilterItems($event)"
                                   (ionClear)="onFilterItems($event)"
                                   (ionCancel)="onFilterItems($event)"
                                   placeholder="Buscar facturas enviadas..." 
                                   autocomplete="on"
                                   [disabled]="!tieneFacturas">
                    </ion-searchbar>
                </ion-toolbar>
            </ion-list-header>
            <ion-card *ngFor="let item of facturasFiltrados let i = index" 
                      [color]="i==0 ? 'warning' : ''">
                <ion-item button (click)="presentarOpcionesActionSheet($event, item)">
                    <section>
                        <section>
                            <ion-badge color="dark">{{ item.fechaEmision }}</ion-badge>
                            <ion-badge [color]="item.internalStatus == 'APPLIED' ? 'success' : 'light'">{{ item.secuencial }}</ion-badge>
                            <ion-badge [color]="item.internalStatus == 'APPLIED' ? 'success' : 'light'">
                                <ion-icon id="notification-icon" *ngIf="item.internalStatus == 'APPLIED'" name="checkmark-outline"></ion-icon>
                            </ion-badge>
                            <ion-badge *ngIf="item.isPayment" color="secondary" style="float: right;">P</ion-badge>
                        </section>
                        <section>
                            <ion-label color="dark">{{ item.customerFullName }}</ion-label>
                        </section>
                        <section>
                            <ion-note class="p-mr-1">{{ item.resumen }}</ion-note>
                            <ion-badge *ngIf="enabledTotals" color="light">${{ item.importeTotal.toFixed(2) }}</ion-badge>
                        </section>
                        <section>
                            <ion-note class="p-mr-1">{{ item.description }}</ion-note>
                        </section>
                    </section>
                </ion-item>
            </ion-card>
            <ion-card class="box" *ngIf="tieneFacturas && (!facturasFiltrados || !facturasFiltrados.length)">
                {{'No se encontraron resultados..'}}
            </ion-card>
            <ion-card class="box-stretched" *ngIf="!tieneFacturas">
                <ion-button color="danger" expand="block" 
                            (click)="irAPopupFactura($event, null);">
                    <ion-icon slot="start" name="add"></ion-icon>
                    Nueva factura FAZil
                </ion-button>
            </ion-card>
        </ion-list>
    </ion-card>
    <ion-card>
        <ion-list>
            <ion-list-header>
                <ion-toolbar>
                    <ion-title color="dark">Recibidas</ion-title>
                </ion-toolbar>
                <ion-toolbar>
                    <ion-searchbar [(ngModel)]="keywordReceived"
                                   (ionInput)="onFilterItemsReceived($event)"
                                   (ionClear)="onFilterItemsReceived($event)"
                                   (ionCancel)="onFilterItemsReceived($event)"
                                   placeholder="Buscar facturas recibidas..." 
                                   [animated]="true" autocomplete="on">
                    </ion-searchbar>
                </ion-toolbar>
            </ion-list-header>
            <ion-card *ngFor="let item of facturasRecibidasFiltrados let i = index" 
                      [color]="i==0 ? 'light' : ''">
                <ion-item>
                    <section>
                        <section>
                            <ion-badge color="dark">{{ item.fechaEmision }}</ion-badge>
                            <ion-badge color="medium">{{ item.secuencial }}</ion-badge>
                            <ion-badge *ngIf="item.isPayment" color="secondary" style="float: right;">P</ion-badge>
                        </section>
                        <section>
                            <ion-label color="dark">{{ item.subjectFullName }}</ion-label>
                        </section>
                        <section>
                            <ion-note class="p-mr-1">{{ item.resumen }}</ion-note>
                            <ion-badge *ngIf="enabledTotals" color="light">${{ item.importeTotal.toFixed(2) }}</ion-badge>
                        </section>
                        <section>
                            <ion-note class="p-mr-1">{{ item.description }}</ion-note>
                        </section>
                    </section>
                </ion-item>
            </ion-card>
            <ion-card class="box" *ngIf="tieneFacturasRecibidas && (!facturasRecibidasFiltrados || !facturasRecibidasFiltrados.length)">
                {{'No se encontraron resultados..'}}
            </ion-card>
            <ion-card class="box" *ngIf="!tieneFacturasRecibidas">
                {{'No hay facturas recibidas.'}}
            </ion-card>
        </ion-list>
    </ion-card>
</ion-content>