ion-content{
    --padding-top: 3.5rem;
}

ion-list{
    padding: 0rem;
    background: transparent !important;
}

ion-list-header {
    position: sticky;
    flex-direction: column;
    top: 0;
    z-index: 2;
    padding: 0rem;
}

ion-toolbar{
    --padding-top: 0px;
    --padding-bottom: 0px;
    --background: transparent !important;
}

ion-searchbar {
    --border-radius: 20px;
    --box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

ion-card{
    padding: 0rem;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

ion-item{
    --inner-border-width: 0rem;
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --background: transparent !important;
}

section{
    padding: 0rem !important;
    margin: 0rem !important;
    display: unset;
    width: 100%;
}

ion-badge{
    white-space: pre-line !important;
    text-align: justify-all !important;
}

ion-note{
    white-space: pre-line !important;
    text-align: justify-all !important;
    vertical-align: super;
}

ion-label{
    white-space: pre-line !important;
    text-align: justify-all !important;
}

.box {
    padding: 1rem;
    height: 100%;
}

.box-stretched {
    padding: 0rem;
}

#notifications-badge {
    position: absolute;
    top: 4px;
    right: -7px;
    border-radius: 30%;
}

#notification-note {
    position: absolute;
    right: 3px;
    top: 5px;
    font-size: xx-large;
}

#notification-icon{
    display: block;
    padding: 0rem;
    margin: 0rem;
}

#notification-button {
    position: relative;
    width: 40x;
    height: 40px;
    overflow: visible !important
}

/*Modales, acciones, messages*/
::ng-deep .my-modal-class .modal-wrapper {
    height: 100%;
    width: 100%;
}

::ng-deep .my-modal-popup-class .modal-wrapper {
    top:50%;
    left:50%;
    max-height: 23%;
    max-width: 88%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
::ng-deep .my-modal-popup-class .sc-ion-modal-md {
    background: #3980ff42;
     --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.10);
}

::ng-deep .my-modal-filter-class .modal-wrapper {
    height: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: end;
}

::ng-deep .my-modal-detail-class .modal-wrapper {
    height: 90%;
    width: 95%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: end;
}

::ng-deep .my-actionsheet-class .action-sheet-group {
    border-radius: 10px;
    margin: 0.1rem;
}

::ng-deep .my-toast-class {
}

::ng-deep .my-loading-class{

}

::ng-deep .action-sheet-button.sc-ion-action-sheet-md.primary {
    color: #3880ff;
}