#notifications-badge {
    position: absolute;
    top: 4px;
    right: -7px;
    border-radius: 30%;
}

#notification-note {
    position: absolute;
    right: 3px;
    top: 5px;
    font-size: xx-large;
}

#notification-icon{
    display: block;
    padding: 0rem;
    margin: 0rem;
}

#notification-button {
    position: relative;
    width: 40x;
    height: 40px;
    overflow: visible !important
}

/*Modales, acciones, messages*/
::ng-deep .my-modal-class .modal-wrapper {
    height: 100%;
    width: 100%;
}

::ng-deep .my-modal-popup-one-class .modal-wrapper {
    top:50%;
    left:50%;
    min-height: 25%;
    max-height: 25%;
    max-width: 95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
::ng-deep .my-modal-popup-one-class .sc-ion-modal-md {
    background: #3980ff42;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.10);
}

::ng-deep .my-modal-popup-two-class {
    backdrop-filter: blur(30px);
}

::ng-deep .my-modal-popup-two-class .modal-wrapper {
    top:50%;
    left:50%;
    max-height: 47%;
    max-width: 95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
::ng-deep .my-modal-popup-two-class .sc-ion-modal-md {
    background: #3980ff42;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.10);
}

::ng-deep .my-modal-filter-class .modal-wrapper {
    max-height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-self: end;
}

::ng-deep .my-modal-detail-class .modal-wrapper {
    height: 90%;
    width: 95%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: end;
}

::ng-deep .my-actionsheet-class .action-sheet-group {
    border-radius: 10px;
    margin: 0.1rem;
}

::ng-deep .action-sheet-button.sc-ion-action-sheet-md.primary {
    color: #3880ff;
}

::ng-deep .my-toast-class {
}

::ng-deep .my-loading-class{

}