ion-note{
    white-space: pre-line !important;
    text-align: justify-all !important;
    vertical-align: super;
}

ion-label{
    width: 100%;
    white-space: pre-line !important;
    text-align: justify-all !important;
}