<ion-content [fullscreen]="true" class="ion-padding">
    <div class="container">
        <div class="outer"
             [ngStyle]="{'background': !organizationPhoto ? '#000000' : 'url(' + organizationPhoto + ')' }">
            <div class="inner" (click)="openGallery()">
                <ion-icon name="images" class="camera-icon"></ion-icon>
            </div>     
            <div class="innertext" *ngIf="!organizationPhoto">{{initials}}</div>     
        </div>
    </div>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{currentUser.initials}}</ion-card-title>
            <ion-card-subtitle>Definir el ambiente y configurar firma electrónica</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label color="medium">SRI producción</ion-label>
                    <ion-toggle color="primary" 
                                [(ngModel)]="ambienteSRI"
                                (ionChange)="cambiarAmbienteSRI($event)">
                    </ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label color="medium">Firma electrónica</ion-label>
                    <ion-button expand="block" color="success"
                                (click)="irAPopupCertificado($event)">
                        <ion-icon slot="start" name="key-outline"></ion-icon>
                        Configurar
                    </ion-button>
                </ion-item>
                <ion-item>
                    <ion-range color="primary" [pin]="true" 
                               min="0" max="3" step="1"
                               [value]="organization.numeroLocales"
                               [(ngModel)]="organization.numeroLocales"
                               style="padding-left: 0rem">
                        <ion-label slot="start" color="medium" style="font-size: medium">Nº Locales: </ion-label>
                    </ion-range>
                </ion-item>
            </ion-list>
            <ion-button expand="block" color="primary"
                        (click)="guardarOrganizacion($event)"
                        [disabled]="!organization || !organization.numeroLocales">
                <ion-icon slot="start" name="save-outline"></ion-icon>
                Guardar
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>