<ion-content [fullscreen]="true" class="ion-padding"
             *ngIf="valido">
    <div class="container">
        <div class="outer"
             [ngStyle]="{'background': !photo ? '#000000' : 'url(' + photo + ')' }">
            <div class="inner" (click)="onTakePicture()">
                <ion-icon name="images" class="camera-icon"></ion-icon>
            </div>     
            <div class="innertext" *ngIf="!photo">{{initials}}</div>     
        </div>
    </div>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{currentUser.initials}}</ion-card-title>
            <ion-card-subtitle color="tertiary">DATOS DE LA EMPRESA</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div>
                <ion-note color="medium">RUC</ion-note>
                <ion-input color="dark" type="number" 
                           [(ngModel)]="currentUser.ruc" [ngModelOptions]="{standalone: true}">
                </ion-input>
            </div>
            <div class="p-mt-2">
                <ion-note color="medium">Nombre comercial</ion-note>
                <ion-input color="dark" type="text" 
                           [(ngModel)]="currentUser.initials" [ngModelOptions]="{standalone: true}">
                </ion-input>
            </div>
            <div class="p-mt-2">
                <ion-note color="medium">Dirección</ion-note>
                <ion-input color="dark" type="text" 
                           [(ngModel)]="currentUser.direccion" [ngModelOptions]="{standalone: true}">
                </ion-input>
            </div>
            <ion-card-subtitle color="tertiary">DEFINIR EL AMBIENTE Y CONFIGURAR FIRMA ELECTRÓNICA</ion-card-subtitle>
            <ion-list>
                <ion-item>
                    <ion-range color="tertiary" [pin]="true" 
                               min="0" max="3" step="1"
                               [value]="organization.numeroLocales"
                               [(ngModel)]="organization.numeroLocales"
                               style="padding-left: 0rem; align-self: center">
                        <ion-label slot="start" color="medium" style="font-size: medium; text-align: center">
                            <p>Nº LOCALES</p>
                            <p style="color:#5260ff; font-size: larger;"><strong>{{organization.numeroLocales}}</strong></p>
                        </ion-label>
                    </ion-range>
                </ion-item>
                <ion-item>
                    <ion-label color="medium">SRI producción</ion-label>
                    <ion-toggle color="tertiary" 
                                [(ngModel)]="ambienteSRI"
                                (ionChange)="cambiarAmbienteSRI($event)">
                    </ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label color="medium">Firma electrónica</ion-label>
                    <ion-button expand="block" color="dark"
                                (click)="irAPopupCertificado($event)"
                                *ngIf="!currentUser.tieneCertificadoDigital">
                        <ion-icon slot="start" name="key-outline"></ion-icon>
                        Configurar
                    </ion-button>
                    <ion-note color="primary" *ngIf="this.currentUser.tieneCertificadoDigital">
                        Su certificado de firma electrónica esta seguro y bajo el soporte de jlgranda.com
                    </ion-note>
                </ion-item>
            </ion-list>
            <ion-button expand="block" color="tertiary"
                        (click)="guardarOrganizacion($event)"
                        [disabled]="!organization || !organization.numeroLocales">
                <ion-icon slot="start" name="save"></ion-icon>
                Guardar
            </ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>