<ion-content [fullscreen]="true" class="ion-padding"
             *ngIf="valido">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" size="small" (click)="irAPopupInstituciones($event, null)">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-card class="ion-no-border-card">
        <ion-card-header>
            <ion-card-title>INFORMACIÓN BANCARIA</ion-card-title>
            <ion-card-subtitle color="danger">INSTITUCIONES FINANCIERAS REGISTRADAS</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <!--Lista de entidades registradas-->
            <ion-list class="ion-border-shadow"> 
                <ion-item *ngFor="let item of cuentasBancarias">
                    <ion-icon color="danger" name="business" class="ion-margin-end"></ion-icon>
                    <ion-label class="ion-text-wrap" style="font-size: smaller">{{item.name}}</ion-label>
                    <ion-button fill="clear" shape="round" color="success"
                                (click)="compartirCuentaBancaria($event, item)"
                                class="ion-no-ripple">
                        <ion-icon name="share-social"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item *ngIf="!cuentasBancarias">
                    <ion-label class="ion-text-wrap" style="font-size: smaller">No hay cuentas registradas.</ion-label>
                </ion-item>
            </ion-list> 
        </ion-card-content>
    </ion-card>
</ion-content>