<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="irAPopupCancel($event)">
                <ion-icon slot="start" name="chevron-back-sharp"></ion-icon>
                Firma electrónica
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="addCertificado($event)"
                [disabled]="!certificado || !certificado.base64 || !password">
                <ion-icon slot="end" name="checkmark-done-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-item>
        <div class="p-mt-2" style="flex: auto;">
            <ion-button expand="full">
                <ion-icon slot="start" name="cloud-upload"></ion-icon>
                Subir Archivo
                <input type="file" (change)="loadFileFromDevice($event)" id="file-input"
                       [accept]="configuracion.app.files.accept" multiple="false">
            </ion-button>
        </div>
    </ion-item>
    <ion-item>
        <div class="p-mt-2">
            <ion-note color="medium">Contraseña de firma electrónica</ion-note>
            <ion-input type="password" 
                       [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </ion-input>
        </div>
    </ion-item>
</ion-content>