<ion-header  class="ion-border">
    <ion-toolbar class="ion-padding">
        <ion-buttons slot="start">
            <ion-button (click)="irAPopupCancel($event)">
                <ion-icon slot="start" name="chevron-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <form action="." method="get" (submit)="$event.preventDefault()">
            <ion-searchbar [(ngModel)]="keyword"
                           (keyup.enter)="onFilterItems($event)"
                           (ionClear)="onFilterItems($event)"
                           (ionCancel)="onFilterItems($event)"
                           placeholder="Busca tus contactos.."
                           autocomplete="on"
                           [formControl]="searchControl"
                           mode="ios"
                            class="ion-no-padding-start">
            </ion-searchbar>
        </form>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding"
             color="light">
    <div *ngIf="!process" class="ion-padding">
        <ion-list *ngFor="let group of groupedItems">
            <ion-item-divider>
                <ion-label>
                  {{group.letter.toUpperCase()}}
                </ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let item of group.items" button (click)="presentarOpcionesActionSheet($event, item)">
                <ion-avatar slot="start">
                    <img [src]="item.customerPhoto" *ngIf="item.customerPhoto"/>
                    <img src="/assets/layout/images/user.png" *ngIf="!item.customerPhoto"/>
              </ion-avatar>
              <ion-label>
                <h2>{{item.customerFullName}}</h2>
                <h3>{{item.customerCode}}</h3>
                <p>{{item.customerEmail}}</p>
              </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <ion-card *ngIf="!process && (!groupedItems || !groupedItems.length)" 
              class="ion-no-background ion-no-border ion-no-padding ion-text-center ion-top-25-perc">
        <ion-card-title><ion-icon name="sad-outline" class="ion-font-large"></ion-icon></ion-card-title>
        <ion-card-subtitle>{{'No se encontraron resultados..'}}</ion-card-subtitle>
    </ion-card>
    <ion-card *ngIf="process"
              class="ion-no-background ion-no-border ion-no-padding ion-text-center ion-top-25-perc">
        <ion-card-title><ion-spinner color="tertiary"></ion-spinner></ion-card-title>
    </ion-card>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" size="small" (click)="irAPopupContacto($event, null)">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>