<ion-content [fullscreen]="true" class="ion-padding" color="light" 
             *ngIf="valido">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" size="small" (click)="irAPopupContacto($event, null)">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ion-list-header>
            <form action="." method="get" (submit)="$event.preventDefault()">
                <ion-searchbar [(ngModel)]="keyword"
                               (keyup.enter)="onFilterItems($event)"
                               (ionClear)="onFilterItems($event)"
                               (ionCancel)="onFilterItems($event)"
                               placeholder="Busca tus clientes.." 
                               autocomplete="on"
                               [formControl]="searchControl"
                               placeholder="Digite y presione la tecla Enter o iOS ">
                </ion-searchbar>
                <div *ngIf="searching" class="spinner-container">
                    <ion-spinner></ion-spinner>
                </div>
          </form>
        </ion-list-header>
        <ion-item-group *ngFor="let group of groupedItems">
            <ion-card>
                <ion-item-divider light>{{group.letter.toUpperCase()}}</ion-item-divider>
                <ion-item *ngFor="let item of group.items" button (click)="presentarOpcionesActionSheet($event, item)">
                    <ion-avatar slot="start">
                        <img [src]="item.customerPhoto" *ngIf="item.customerPhoto"/>
                        <img src="/assets/layout/images/user.png" *ngIf="!item.customerPhoto"/>
                    </ion-avatar>
                    <ion-label color="dark">
                        <h2 style="white-space: pre-line;">{{item.customerFullName}}</h2>
                        <h6 style="color:grey">{{item.customerCode}}</h6>
                        <ion-note color="tertiary">{{item.customerEmail}}</ion-note>
                    </ion-label>
                </ion-item>
            </ion-card>
        </ion-item-group>
        <ion-card class="box" *ngIf="!groupedItems || !groupedItems.length">
            {{'No se encontraron resultados..'}}
        </ion-card>
    </ion-list>
</ion-content>