<ion-header  class="ion-no-border ion-no-padding">
    <ion-toolbar>
        <form action="." method="get" (submit)="$event.preventDefault()">
            <ion-searchbar [(ngModel)]="keyword"
                           (keyup.enter)="onFilterItems($event)"
                           (ionClear)="onFilterItems($event)"
                           (ionCancel)="onFilterItems($event)"
                           placeholder="Buscar contactos.."
                           autocomplete="on"
                           [formControl]="searchControl"
                           mode="ios">
            </ion-searchbar>
        </form>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="valido" 
             [fullscreen]="true" class="ion-padding">
    <div *ngIf="!process" class="ion-no-padding">
        <ion-list *ngFor="let group of groupedItems"
                  lines="none" class="ion-no-background">
            <ion-item-divider class="ion-no-background">
                <ion-label>
                    {{group.letter.toUpperCase()}}
                </ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let item of group.items" button (click)="presentarOpcionesActionSheet($event, item)"
                      class="ion-no-background">
                <ion-avatar slot="start">
                    <img [src]="item.customerPhoto" *ngIf="item.customerPhoto"/>
                    <img src="/assets/layout/images/user.png" *ngIf="!item.customerPhoto"/>
                </ion-avatar>
                <ion-label>
                    <h2>{{item.customerFullName}}</h2>
                    <p>{{item.customerCode}}</p>
                    <ion-note color="tertiary">{{item.customerEmail}}</ion-note>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <ion-card *ngIf="!process && (!groupedItems || !groupedItems.length)" 
              class="ion-no-background ion-padding ion-no-border ion-text-center ion-top-25-perc">
        <ion-card-title><ion-icon name="sad-outline" class="ion-font-large"></ion-icon></ion-card-title>
        <ion-card-subtitle>{{'No se encontraron resultados.'}}</ion-card-subtitle>
    </ion-card>
    <ion-card *ngIf="process"
              class="ion-no-background ion-padding ion-no-border ion-text-center ion-top-25-perc">
        <ion-card-title><ion-spinner color="tertiary"></ion-spinner></ion-card-title>
    </ion-card>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" size="small" (click)="irAPopupContacto($event, null)">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>