<ion-header class="ion-no-border ion-no-padding">
    <ion-toolbar class="ion-padding-top-6">
        <ion-searchbar [(ngModel)]="keyword"
                       (ionInput)="onFilterItems($event)"
                       (ionClear)="onFilterItems($event)"
                       (ionCancel)="onFilterItems($event)"
                       placeholder="Busca tus servicios o productos.." 
                       autocomplete="on"
                       mode="ios">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" 
             class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="process"
         class="ion-no-background ion-text-center ion-height-100">
        <ion-spinner color="primary" name="lines" class="ion-top-30-perc"></ion-spinner>
    </div>
    <div *ngIf="!process"
         class="ion-no-background">
        <ion-list *ngFor="let group of groupedItems"
                  lines="none" class="ion-no-background">
            <ion-item-divider class="ion-no-background">
                <ion-label>
                    {{group.letter.toUpperCase()}}
                </ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let item of group.items" button (click)="presentarOpcionesActionSheet($event, item)"
                      class="ion-no-background">
                <ion-avatar slot="start">
                    <img [src]="item.customerPhoto" *ngIf="item.photo"/>
                    <img src="/assets/layout/images/product.png" *ngIf="!item.photo"/>
                </ion-avatar>
                <ion-label>
                    <h2>{{item.name}}</h2>
                    <p>{{item.categoryName}}</p>
                    <ion-note color="primary">{{item.price.toFixed(2)}}</ion-note>
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-card *ngIf="(!groupedItems || !groupedItems.length)" 
                  class="ion-no-background ion-no-border ion-text-center ion-height-100">
            <ion-card-title><ion-icon name="alert-outline" color="medium" class="ion-font-large"></ion-icon></ion-card-title>
            <ion-card-subtitle><ion-note class="ion-text-uppercase">{{'No se encontraron resultados'}}</ion-note></ion-card-subtitle>
        </ion-card>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" size="small" (click)="irAPopupServicio($event, null)">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>