ion-item{
/*    --background: transparent !important;*/
    --inner-border-width: 0rem;
    --padding: 0rem;
}

ion-card{
    padding: 0rem;
    box-shadow: none;
}

ion-note{
    font-variant-caps: all-petite-caps;
    font-size: medium;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.5rem;
    display: block;
/*    background: gold;*/
}

ion-card-title{
    font-family: serif;
}

ion-grid{
    padding: 0rem;
}

ion-row{
    padding: 0rem;
}

ion-col{
    align-self: center;
}

.col-custom{
    align-self: flex-start;
    padding-top: 1.5rem;
}
