<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="irAPopupCancel($event)">
                <ion-icon slot="start" name="chevron-back"></ion-icon>
                Servicios/Productos
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="light" class="ion-padding-start-8 ion-padding-end-8">
        <ion-buttons collapse="true" slot="start">
            <ion-button id="notification-button" fill="clear" color="dark">
                <img src="/assets/layout/images/product.png" style="height: 1.8rem"/>
                <ion-badge id="notifications-badge" color="success">{{details ? details.length : 0}}</ion-badge>
            </ion-button>
        </ion-buttons>
        <ion-buttons collapse="true" slot="end">
            <ion-button fill="clear" color="primary"
                        (click)="finishDetails($event);"
                        [disabled]="!details || details.length == 0">
                <ion-icon name="arrow-forward-circle-outline" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="light" class="ion-padding-start-8 ion-padding-end-8">
        <ion-searchbar [(ngModel)]="keyword"
                       (ionInput)="onFilterItems($event)"
                       (ionClear)="onFilterItems($event)"
                       (ionCancel)="onFilterItems($event)"
                       placeholder="Busca tus productos o servicios.." 
                       autocomplete="on"
                       mode="ios">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding ion-no-padding-top"
             color="light">
    <div *ngIf="!process" class="ion-no-padding">
        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let item of productsFiltered">
                    <ion-card button (click)="irAPopupQuantity($event, item)" [class]="detailsContains(item) ? 'product-card ion-activated' : 'product-card '"
                          [ngStyle]="{'background': detailsContains(item) ? 'rgb(40 186 98 / 11%)' : '#fff'}">
                            <img [src]="item.photo" *ngIf="item.photo" style="height: 1.5rem"/>
                            <img src="/assets/layout/images/product.png" *ngIf="!item.photo" style="height: 1.5rem"/>
                            <ion-card-header>
                              <ion-card-subtitle>$ {{item.price.toFixed(2)}}<ion-badge color="light">{{item.taxFactor}}%</ion-badge></ion-card-subtitle>
                              <ion-card-title>{{item.quantity ? '[' + item.quantity + ']' : '' }} {{item.name}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                            </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-card *ngIf="!process && (products && !productsFiltered.length)" 
              class="ion-no-background ion-no-border ion-no-padding ion-text-center ion-top-25-perc">
        <ion-card-title><ion-icon name="sad-outline" class="ion-font-large"></ion-icon></ion-card-title>
        <ion-card-subtitle>{{'No se encontraron resultados..'}}</ion-card-subtitle>
    </ion-card>
    <ion-card *ngIf="process"
              class="ion-no-background ion-no-border ion-no-padding ion-text-center ion-top-25-perc">
        <ion-card-title><ion-spinner color="tertiary"></ion-spinner></ion-card-title>
    </ion-card>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
</ion-content>