<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="irAPopupCancel($event)">
                <ion-icon slot="start" name="chevron-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary"  (click)="addDescription($event)"
                        [disabled]="!description || description.length == 0">
                <ion-icon slot="start" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-label>DETALLE DEL SERVICIO</ion-label>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding" color="light">
    <ion-label color="primary" style="text-align: center">{{product.name.toUpperCase()}}</ion-label>
    <ion-input type="text" placeholder="Detallar para facturar..." 
               [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
    </ion-input>
</ion-content>