ion-content{
    --padding-start: 0.25rem;
    --padding-end: 0.25rem;
}

ion-list{
    padding: 0rem;
    background: transparent !important;
}

ion-list-header {
    position: sticky;
    flex-direction: column;
    top: 0;
    z-index: 2;
    padding: 0rem;
    background: transparent !important;
    background: var(--ion-color-light, #f4f5f8) !important;
}

ion-toolbar{
    --padding-top: 0px;
    --padding-bottom: 0px;
    --background:  transparent !important;
}

ion-item{
    --background: transparent !important;
    --inner-border-width: 0rem;
    --padding: 0rem;
}

ion-card{
    padding: 0.3rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

ion-searchbar {
    --border-radius: 20px;
    --box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    --padding: 1rem;
}

.box {
    padding: 1rem;
    height: 100%;
}

.box-stretched {
    padding: 0rem;
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#notification-button {
    position: relative;
    width: 40x;
    height: 40px;
    overflow: visible !important
}

#notifications-badge {
    position: absolute;
    top: 4px;
    right: -7px;
    border-radius: 30%;
}

#notification-note {
    position: absolute;
    right: 3px;
    top: 5px;
    font-size: xx-large;
}