<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="removeQuantity($event)">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="addQuantity($event)"
                        [disabled]="!product || !product.name || !product.price">
                <ion-icon slot="end" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
    <ion-grid>
        <ion-row class="ion-no-padding ion-just-center">
            <section><ion-note class="ion-text-uppercase">{{product.name | slice:0:32 }} {{product.name.length > 32 ? '...' : '' }}</ion-note></section>
        </ion-row>
        <ion-row class="ion-no-padding ion-just-center">
            <section style="display: flex; background: #efefef">
                <ion-button color="primary" class="ion-no-margin"
                            (click)="decrementQuantity($event)">
                    <ion-icon name="remove"></ion-icon>
                </ion-button>
                <ion-input type="number" placeholder="1,00"
                           [(ngModel)]="product.quantity"
                           class="ion-text-right ion-margin-end">
                </ion-input>
                <ion-button color="danger" class="ion-no-margin"
                            (click)="incrementQuantity($event)">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </section>
            <!--                        <p-inputNumber [(ngModel)]="product.quantity" 
                                                   mode="decimal" mode="decimal" [minFractionDigits]="2" 
                                                   :min="1"
                                                   [showButtons]="true" 
                                                   buttonLayout="horizontal" spinnerMode="horizontal"
                                                   incrementButtonClass="p-button-secondary" decrementButtonClass="p-button-secondary" 
                                                   incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>-->
        </ion-row>
    </ion-grid>
</ion-content>