<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="removeQuantity($event)">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
                {{product.name | slice:0:32 }} {{product.name.length > 32 ? '...' : '' }}
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="addQuantity($event)"
                        [disabled]="!product || !product.name || !product.price">
                <ion-icon slot="end" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding ion-align-self-center">
    <ion-grid>
        <ion-row class="ion-no-padding">
            <p-inputNumber [(ngModel)]="product.quantity" 
                           mode="decimal" mode="decimal" [minFractionDigits]="2" 
                           :min="1"
                           [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
                <!-- Number type input -->
        </ion-row>
    </ion-grid>
</ion-content>