<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="irAPopupCancel($event)">
                <ion-icon slot="start" name="close-sharp"></ion-icon>
                Factura nueva
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="addFactura($event)"
                        [disabled]="!product || !subjectCustomer || (!factura.importeTotal || factura.importeTotal <= 0)">
                <ion-icon slot="end" name="checkmark-done-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-title color="medium">
                    Factura FAZil
                </ion-title>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="auto">
                <ion-chip outline color="medium">
                    <ion-label>Quiero facturar</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col>
                <ion-chip outline color="primary">
                    <ion-label class="symbol">$</ion-label> 
                    <ion-input type="number" placeholder="0.00"
                               [(ngModel)]="factura.subTotal"
                               (ionChange)="registrarSubtotal($event)"></ion-input>
                </ion-chip>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="auto">
                <ion-chip outline color="medium">
                    <ion-label>Por concepto de</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col>
                <ion-chip outline color="primary" (click)="irAPopupServicios($event);">
                    <ion-label>{{ product ? product.name : 'Servicio...' }}</ion-label>
                    <ion-icon name="search-outline"></ion-icon>
                </ion-chip>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="auto">
                <ion-chip outline color="medium">
                    <ion-label>a</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col>
                <ion-chip outline color="primary" (click)="irAPopupContactos($event);">
                    <ion-label>{{ subjectCustomer ? subjectCustomer.customerFullName : 'Cliente...' }}</ion-label>
                    <ion-icon name="person-circle-outline"></ion-icon>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item>
            <ion-label color="tertiary">IVA 12 %</ion-label>
            <ion-toggle color="tertiary" [(ngModel)]="aplicarIva12" (ionChange)="recalcularSubtotal($event)"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label color="dark">TOTAL</ion-label>
            <ion-label color="danger" style="text-align: right;">
                <strong>{{ factura.importeTotal ? ('$ '+factura.importeTotal.toFixed(2)) : '$ 0.00' }}</strong>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>