ion-chip{
    width: 100%;
    justify-content: space-between;
}

.item-custom{
    --background: transparent !important;
    --inner-border-width: 0rem;
    --padding: 0rem;
}

ion-radio-group{
    display: inline-flex;
}

ion-radio{
    margin: 0.5rem;
}