ion-item{
    --padding: 0rem;
    --background: transparent !important;
}

.item-custom{
    --padding: 0rem;
    --inner-border-width: 0rem;
    --background: transparent !important;
}

ion-chip{
    width: 100%;
    justify-content: space-between;
}

ion-radio-group{
    display: inline-flex;
}

ion-radio{
    margin: 0.5rem;
}

ion-note{
    white-space: pre-line !important;
    text-align: justify-all !important;
    vertical-align: super;
}

ion-label{
    white-space: pre-line !important;
    text-align: justify-all !important;
}