<ion-content [fullscreen]="true" class="ion-padding">
    <div class="container">
        <div class="outer"
             [ngStyle]="{'background-image': 'url(' + userPhoto + ')'}">
            <div class="inner" (click)="presentarOpcionesActionSheet()">
                <ion-icon name="camera" class="camera-icon"></ion-icon>
            </div>     
        </div>
    </div>
    <ion-card>
            <p-messages [(value)]="msgs"></p-messages>
        <ion-card-header>
            <ion-card-title>{{currentUser.username}}</ion-card-title>
            <ion-card-subtitle color="primary">DATOS PERSONALES</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div class="p-mt-2">
                <ion-note color="medium">Nombres/Apellidos</ion-note>
                <ion-input color="dark" type="text"
                           [(ngModel)]="currentUser.nombre" [ngModelOptions]="{standalone: true}">
                </ion-input>
            </div>
            <div class="p-mt-2">
                <ion-note color="medium">Correo electrónico</ion-note>
                <ion-input color="dark" type="email" 
                           [(ngModel)]="currentUser.email" [ngModelOptions]="{standalone: true}">
                </ion-input>
            </div>
            <div class="p-mt-2">
                <ion-note color="medium">Móvil</ion-note>
                <ion-input color="dark" type="tel" 
                           [(ngModel)]="currentUser.mobileNumber" [ngModelOptions]="{standalone: true}">
                </ion-input>
            </div>
            <ion-button expand="block" color="primary"
                        (click)="guardarPerfil($event)">
                <ion-icon slot="start" name="save-outline"></ion-icon>
                Guardar
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

<!--

 public ResponseEntity updateOrganization(
            @AuthenticationPrincipal UserData user,
            @Valid @RequestBody OrganizationData organizationData,
            BindingResult bindingResult) {
        Organization organizacion = organizationService.encontrarPorSubjectId(user.getId());
        if (organizacion != null) {
            BeanUtils.copyProperties(organizationData, organizacion);
            organizationService.guardar(organizacion);
        }
        Api.imprimirUpdateLogAuditoria("/user/organization", user.getId(), organizacion);
        return ResponseEntity.ok(Api.response("organization", organizationData));
    }-->