<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="contactos">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>Contactos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="facturas">
            <ion-icon name="paper-plane-outline"></ion-icon>
            <ion-label>Facturas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="servicios">
            <ion-icon name="archive-outline"></ion-icon>
            <ion-label>Servicios</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
