<ion-tabs (ionTabsWillChange)="ionTabsWillChange($event)">
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="contactos">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>Contactos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="facturas/emitir">
            <ion-icon name="paper-plane-outline"></ion-icon>
            <ion-label>Emitir</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="facturas/recibir">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>Recibir</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="servicios">
            <ion-icon name="cube-outline"></ion-icon>
            <ion-label>Servicios</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
