<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="irAPopupCancel($event)">
                <ion-icon slot="start" name="close-sharp"></ion-icon>
                {{product && product.id ? 'Editar servico' : 'Servicio nuevo'}}
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="addProduct($event)"
                        [disabled]="!product || !product.name || !product.price">
                 <ion-icon slot="end" name="checkmark-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
<!--    <div class="container">
        <div class="outer"
             [ngStyle]="{'background-image': 'url(' + productPhoto + ')'}">
            <div class="inner" (click)="presentarOpcionesActionSheet()">
                <ion-icon name="camera" class="camera-icon"></ion-icon>
            </div>     
        </div>
    </div>-->
    <ion-card>
        <ion-item>
            <ion-toggle slot="start" color="tertiary"
                        [(ngModel)]="iva12"></ion-toggle>
            <ion-label color="tertiary">IVA 12%</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="archive-outline" slot="start"></ion-icon>
            <ion-input type="text" placeholder="Nombre" 
                       [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="logo-usd" slot="start"></ion-icon>
            <ion-input type="number" placeholder="0.00" 
                       [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}">
            </ion-input>
        </ion-item>
    </ion-card>
</ion-content>