<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="irAPopupCancel($event)">
                <ion-icon slot="start" name="chevron-back"></ion-icon>
                {{product && product.id ? 'Editar servico' : 'Servicio nuevo'}}
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="addProduct($event)"
                        [disabled]="!product || !product.name || !product.price">
                <ion-icon slot="end" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
    <ion-list> 
        <ion-item>
            <ion-icon name="archive" color="medium" class="p-mr-2"></ion-icon>
            <ion-input type="text" placeholder="Nombre" 
                       [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="logo-usd" color="medium" class="p-mr-2"></ion-icon>
            <ion-input type="number" placeholder="0.00" 
                       [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-toggle slot="start" color="primary"
                        [(ngModel)]="iva12"></ion-toggle>
            <ion-label color="primary">IVA 12%</ion-label>
        </ion-item>
    </ion-list> 
</ion-content>