<ion-header class="ion-no-border">
    <ion-toolbar>
        <!--El buscador-->
        <ion-buttons slot="start">
            <ion-button (click)="irAPopupCancel($event)">
                <ion-icon slot="start" name="chevron-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-searchbar *ngIf="viewSearchList"
                           [(ngModel)]="keyword"
                           (ionInput)="onFilterItems($event)"
                           (ionClear)="clearFilterItems($event)"
                           placeholder="Buscar institución.." 
                           animated="true" autocomplete="on">
            </ion-searchbar>
            <ion-button *ngIf="!viewSearchList"
                        color="danger" shape="round"
                        (click)="viewSearch($event)">
                <ion-icon slot="end" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-list lines="none"> 
        <ion-item *ngFor="let item of institucionesFiltrados" button (click)="addInstitucion($event, item)">
            <ion-icon color="danger" name="radio-button-on" class="ion-margin-end"></ion-icon>
            <ion-label class="ion-text-wrap" style="font-size: smaller">{{item.label}}</ion-label>
        </ion-item>
        <ion-item *ngIf="instituciones && (!institucionesFiltrados || !institucionesFiltrados.length)">
            <ion-label class="ion-text-wrap" style="font-size: smaller">No se encontraron resultados.</ion-label>
        </ion-item>
    </ion-list> 
</ion-content>