ion-searchbar {
    --background: transparent;
    --box-shadow: none;
    --icon-color: #9c9c9c;
    text-align: start;
}

.ion-border-shadow{
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}